/* App.css */
body,
html {
  height: 100%;
  margin: 0;
}

.body {
  overflow-y: scroll;
  /* Always show scrollbar */
}

#root {
  height: 100%;
}

.background {
  background-image: url('https://previews.123rf.com/images/ballabeyla/ballabeyla1707/ballabeyla170700349/81705586-fruit-tree-flowers-on-white-wooden-background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.main-container {
  height: 1000px;
  display: none;
}

.app-content {
  overflow-y: hidden;
  position: relative;
  z-index: 1;
}

.input {
  margin-left: 1rem;
  flex-grow: 1;
  border: none;
  /* Remove default input border */
  outline: none;
  /* Remove default input outline */
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.add-friend-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  background-color: #a8f1c3;
  cursor: pointer;
}

.tab-panel {
  background-color: #f6adad;
}